.menu_content{
    justify-content: right;
}
.menu_content2{
    justify-content:left;
}
.wd_logo{
    font-family: "Poppins";
    font-weight: 800;
    font-size: 38px;
    line-height: 80px;
}

.wd_navbar {
    background: #ffffff !important;
    position: absolute;
    height: 65px;
    left: 0px;
    top: 0px;
  }

.btn_primary{
    background: #3f51b5 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius : 8px !important;
    color : #fff !important;
    margin: 3px !important;
}
.btn_primary:hover{
    background-color : #3f51b5db !important;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}
.btn_secondary{
    background: #2D3748 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius : 8px !important;
    color : #fff !important;
    margin: 3px !important;
}
.btn_secondary:hover{
    background-color : #2d3748eb !important;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}
.btn_md{
    width: 180px;
    height: 50px;
}