.subtitle_one{
  margin-top: 2rem;
  display: inline-block;
  position: relative;
  font-size: 1.6rem;
  line-height: 32px;
  font-weight: 600;
  color: #3f51b5;
  text-transform: capitalize;
  padding-right: 50px;
  margin-bottom: 15px;
  font-family: "poppins";
  z-index: 1;
}
.subtitle_one::before {
  position: absolute;
    content: '';
    width: 40px;
    height: 1px;
    right: 0;
    top: 11px;
    background: #1D7773;
}
.subtitle_one::after {
  position: absolute;
  content: '';
  width: 60px;
  height: 1px;
  right: -20px;
  bottom: 8px;
  background: #1D7773;
}
.how_it_works_p{
  font-size: 16px;
  line-height: 26px;
  padding: 0;
  margin: 0;
  color: #696969;
  font-family: "poppins";
  font-weight: 500;
  margin-top: 2rem;
}
.services__area-item {
  position: relative;
  border: 1px solid rgba(29, 101, 185, 0.1);
  padding: 35px 25px;
  background: #fff;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  z-index: 2;
}

.how_it_works_span{
  display: inline-block;
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    color: #1D7773;
    opacity: 0.1;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
}
.mb-25{
  margin-bottom: 25px,
}